.achievement-list {
  list-style: none;
}

.achievement-list__name {
  font-size: 18px;
  font-weight: $font-regular;
  line-height: 30px;
}

@media (min-width: $layout-width-desktop) {
  .achievement-list {
    display: flex;
    flex-wrap: wrap;
  }

  .achievement-list__item {
    width: 255px;
  }
}
