.advantages {
  width: $layout-width-mobile;
  border: 1px solid green;
}

.advantages__advantages-paragraph {
  color: #283645;
  font-family: $font-family;
  font-size: 24px;
  font-weight: $font-light;
  text-transform: none;
  text-align: center;
}
