.advantages {
  width: 320px;
  border: 1px solid green;
}

.advantages__advantages-paragraph {
  color: #283645;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: none;
  text-align: center;
}
