.advantage-list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f2f2f2;
  border: 1px solid blue;
  text-align: center;
}

.advantage-list__item-head {
  font-size: 18px;
  line-height: 24px;
  font-weight: $font-bold;
  text-transform: none;
}

.advantage-list__item-image {
  display: none;
}

.advantage-list__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: $font-regular;
  text-align: center;
  color: $color-main;
}

.advantage-list__image-division {
  border: 1px solid orange;
}

@media (min-width: $layout-width-tablet) {
  .advantage-list {
    display: flex;
    flex-direction: column;
    width: 330px;
    text-align: left;
  }

  .advantage-list__description {
    text-align: left;
  }

  .advantage-list__image-division {
    width: 330px;
  }
}

@media (min-width: $layout-width-desktop) {
  .advantage-list__image-division {
    display: none;
  }

  .advantage-list {
    display: flex;
    flex-direction: row;
    width: $layout-width-desktop;
    text-align: center;
  }

  .advantage-list__item-image {
    display: block;
    margin: 0 auto;
  }
}
