.advantage-list {
  padding: 0;
  list-style: none;
  width: $w-mobile;
  background-color: #f2f2f2;
  border: 1px solid blue;
}

.advantage-list__item-head {
  font-size: 18px;
  line-height: 24px;
  font-weight: $f-bold;
  text-transform: none;
  text-align: center;
}

.advantage-list__item-paragraph {
  font-size: 14px;
  line-height: 24px;
  font-weight: $f-regular;
  text-align: center;
}
