.advantages {
  border: 1px solid green;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.advatages__paragraph-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.advantages__advantages-paragraph {
  color: #283645;
  font-family: $font-family;
  font-size: 24px;
  font-weight: $font-light;
  text-transform: none;
  text-align: center;
}

.advantages__br {
  display: none;
}

@media (min-width: $layout-width-tablet) {
  .advantages {
    width: $layout-width-tablet;
  }

  .advatages__paragraph-wrapper {
    margin-top: 59px;
    margin-bottom: 45px;
  }

  .advantages__br {
    display: block;
  }

  .advantages__advantages-paragraph {
    font-size: 40px;
    margin: 0;
    padding: 0;
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: row-reverse;
    background-image: url("../img/bg-triangle-white.svg");
    background-color: #f2f2f2;
    background-repeat: no-repeat;
  }
}

@media (min-width: $layout-width-desktop) {
  .advantages {
    width: $layout-width-desktop;
  }

  .advantages__advantages-paragraph {
    font-size: 50px;
  }

  .advatages__paragraph-wrapper {
    margin-top: 78px;
    margin-bottom: 75px;
  }
}
