.download-application {
  background-color: #283645;
  border: 1px solid cyan;
  width: $w-mobile;
}

.download-application__download-paragraph {
  color: #ffffff;
  font-family: $f-family;
  font-size: 14px;
  font-weight: $f-light;
  line-height: 24px;
  text-transform: none;
}
