.download-application {
  background-color: $color-main;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

.download-application__details {
  background-color: #1d2631;
  min-height: 271px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.download-application__download-paragraph {
  color: #ffffff;
  font-size: 14px;
  font-weight: $font-light;
  line-height: 24px;
  text-transform: none;
}

.download-application__download-button {
  margin-top: 28px;
  font-family: $font-family;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: 18px;
  color: #ffffff;
  background-color: #1d2631;
  width: 281px;
  height: 55px;
  border: 3px solid #ffffff;
  border-radius: 30px;
}

.download-application__title {
  display: none;
}

.download-application__index-phone-image {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (min-width: $layout-width-tablet) {
  .download-application {
    display: flex;
    flex-grow: 0;
    flex-direction: row-reverse;
    width: $layout-width-tablet;
  }

  .download-application__title {
    display: block;
    margin: 0 auto;
    margin-top: 103px;
    padding: 0;
    width: 186px;
    font-family: $font-family;
    color: $font-color-white;
    font-size: 40px;
    font-weight: $font-light;
    margin-left: 78px;
  }

  .download-application__download-button {
    margin-top: 39px;
    width: 300px;
    height: 55px;
    border: 3px solid #ffffff;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    line-height: 18px;
  }

  .download-application__details {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 330px;
    background-color: rgba(255, 255, 255, 0);
  }

  .download-application__index-phone-image {
    margin: 0;
    padding: 0;
    width: 330px;
  }

  .download-application__download-paragraph {
    padding: 0;
    margin: 0;
    font-size: 18px;
  }
}

@media (min-width: $layout-width-desktop) {
  .download-application {
    width: $layout-width-desktop;
  }

  .download-application__details {
    width: 430px;
    flex-grow: 0;
  }

  .download-application__index-phone-image {
    width: 770px;
  }

  .download-application__title {
    margin-top: 121px;
    margin-left: 166px;
    width: 231px;
    font-size: 50px;
  }

  .download-application__download-button {
    margin-left: 130px;
  }

  .download-application__download-paragraph {
    width: 300px;
    margin-left: 132px;
    margin-top: 60px;
    margin-bottom: 124px;
  }
}

@media (min-width: $layout-width-desktop) {
  .download-application {
    width: $layout-width-desktop;
  }

  .download-application__details {
    width: 430px;
    flex-grow: 0;
  }

  .download-application__index-phone-image {
    width: 770px;
  }

  .download-application__title {
    margin: 0 auto;
    margin-top: 121px;
  }
}
