@media (min-width: $layout-width-mobile) {
  .editor {
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: $layout-width-mobile;
    margin: 0;
    padding: 0;
  }

  .editor__field {
    display: flex;
    flex-direction: column;
  }

  .editor-wrapper {
    display: flex;
    flex-direction: column;
  }

  .editor__image {
    padding-left: 18px;
    padding-right: 20px;
  }
}

@media (min-width: $layout-width-tablet) {
  .editor__field {
    display: flex;
  }

  .editor__image {
    flex-basis: 320px;
  }

  .editor__wrapper {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    width: 330px;
  }
}

@media (min-width: $layout-width-desktop) {
  .editor {
    width: $layout-width-desktop;
  }

  .editor__field {
    width: 940px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .editor__wrapper {
    width: 770px;
  }
}
