.editor {
  background-color: #f2f2f2;
}

@media (min-width: $layout-width-tablet) {
  .editor__field {
    display: flex;
  }

  .editor__image {
    flex-basis: 320px;
  }

  .editor__wrapper {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    width: 330px;
  }
}

@media (min-width: $layout-width-desktop) {
  .editor {
    width: $layout-width-desktop;
  }

  .editor__field {
    width: 940px;
    margin: 0 auto;
    justify-content: space-around;
  }

  .editor__wrapper {
    width: 770px;
  }
}
