.form-main {
  width: $layout-width-mobile;
  border: 1px solid green;
  background-color: #ffffff;
}

.form-main__paragraph {
  color: #283645;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $layout-width-tablet) {
  .form-main {
    width: $layout-width-tablet;
  }

  .form-main__paragraph {
    font-size: 18px;
    width: 490px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 75px;
  }
}
