.page-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: #2a3a4a;
  border: 1px solid yellow;
  diaplay: flex;
  flex-wrap: wrap;
}

.page-header__title {
  text-align: center;
  font-size: 24px;
  font-weight: $font-light;
  line-height: 26px;
  color: #ffffff;
  width: 240px;
  margin: 0 auto;
}

.page-header__list {
  list-style: none;
}

@media (min-width: $layout-width-tablet) {
  .page-header {
    width: $layout-width-tablet;
    display: flex;
  }

  .page-header__list {
    width: $layout-width-tablet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__describe {
    width: $layout-width-tablet;
  }

  .page-header__title {
    font-size: 50px;
    line-height: 50px;
    width: 350px;
    margin-top: 81px;
    margin-bottom: 150px;
  }
}
