.page-footer {
  width: $layout-width-mobile;
  background-color: #ffffff;
  border: 1px solid red;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 18px;
}

.page-footer__developer {
  margin: auto;
}

@media(min-width: $layout-width-tablet) {
  .page-footer {
    width: $layout-width-tablet;
    display: flex;
    justify-content: space-between;
  }
}
