.page-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: repeat;
  background-color: #2a3a4a;
  flex-wrap: wrap;
}

.page-header__logo {
  min-height: 22px;
  min-width: 75px;
}

.page-header__describe {
  min-height: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header__title {
  text-align: center;
  font-size: 24px;
  font-weight: $font-light;
  line-height: 26px;
  color: #ffffff;
  width: 240px;
  margin: 0 auto;
}

.page-header__list {
  list-style: none;
  min-height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 1px 0 #000000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

@media (min-width: $layout-width-tablet) {
  .page-header {
    width: $layout-width-tablet;
    display: flex;
  }

  .page-header__list {
    width: $layout-width-tablet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__list-item {
    margin-top: 27px;
    margin-bottom: 43px;
  }

  .page-header__describe {
    width: $layout-width-tablet;
  }

  .page-header__title {
    font-size: 50px;
    line-height: 50px;
    width: 500px;
    margin-top: 81px;
    margin-bottom: 150px;
  }
}

@media (min-width: $layout-width-desktop) {
  .page-header {
    width: $layout-width-desktop;
    margin: 0 auto;
  }

  .page-header__list {
    display: none;
  }

  .page-header__describe {
    width: $layout-width-desktop;
  }

  .page-header__title {
    margin: 0 auto;
    margin-top: 81px;
    margin-bottom: 150px;
  }
}
