.photos {
  border: 1px solid yellow;
}

@media (min-width: $layout-width-tablet) {
  .photos__paragraph {
    width: 450px;
    font-size: 18px;
    line-height: 30px;
    color: $color-main;
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: $layout-width-desktop) {
  .photos__paragraph {
    width: 600px;
  }
}
