.plan-table__item--title {
  background-color: #283645;
}

.plan-table__item-name {
  color: #ffffff;
  font-size: 18px;
  font-weight: $font-bold;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.plan-table__item-hit {
  color: #ffffff;
  font-weight: $font-regular;
  text-trandform: uppercase;
  background-color: #d22856;
}

.plan-table__item-cost {
  color: #ffffff;
  font-size: 24px;
  font-weight: $font-light;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.plan-table__item-option {
  color: #283645;
  font-size: 14px;
  font-weight: $font-regular;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
}
