.quotes {
  display: none;
}

.quotes-paragraph {
  display: none;
}

.arrow-button {
  padding: 0;
  margin: 105px;
  width: 30px;
  height: 70px;
  background-color: #ffffff;
  border: none;
  align-self: center;
  display: none;

  &:hover {
    cursor: pointer;
  }

  .arrow {
    fill: #283645;
    opacity: 0.6;

    &:hover {
      opacity: 0.3;
    }
  }
}


@media (min-width: $layout-width-mobile) {
  .reviews {
    border: 1px solid orange;
    background: $font-color-white;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    justify-content: center;
  }

  .reviews__reviews-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .reviews__toggles {
    margin: 0;
    margin-top: 41px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
  }

  .arrow-button {
    display: none;
  }
}

@media (min-width: $layout-width-tablet) {
  .reviews {
    width: $layout-width-tablet;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .reviews__toggles {
    margin-top: 30px;
  }
}

@media (min-width: $layout-width-desktop) {
  .reviews {
    width: $layout-width-desktop;
    flex-direction: row;
  }

  .quotes,
  .quotes-paragraph {
    display: block;
  }

  .quotes-paragraph {
    margin: 0 auto;
  }

  .reviews__toggles {
    margin-top: 30px;
    display: none;
  }

  .arrow-button {
    display: block;
  }
}
