.review-list {
  list-style: none;
  padding: 0;
}

.review-list__name {
  color: #000000;
  font-family: $font-family;
  font-size: 18px;
  line-height: 30px;
  font-weight: font-bold;
  text-transform: none;
  text-align: center;
}

.review-list__paragraph {
  font-size: 14px;
  font-weight: $font-regular;
  color: #283645;
  line-height: 30px;
  text-align: center;
}

.review-list__profession {
  display: none;
  text-align: center;
}

.rewiews__toggles {
  text-align: center;
}

@media (min-width: $layout-width-tablet) {
  .review-list__item {
    display: flex;
    flex-direction: column-reverse;
  }

  .review-list__paragraph {
    font-size: 18px;
  }

  .review-list__profession {
    display: block;
    font-size: 14px;
    font-weight: $font-regular;
    line-height: 30px;
    margin: 0;
  }

  .review-list__name {
    margin: 0;
    font-size: 20px;
  }
}

@media (min-width: $layout-width-desktop) {
  .review-list__paragraph {
    width: 685px;
    margin: 0 auto;
  }
}
