.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-list__item {
  box-shadow: 0 1px 0 #000000,
  inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

@media(min-width: $layout-width-tablet) {
  .site-list__item {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
