.tool-list-lone {
  list-style: none;
  border: 1px solid lightblue;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  border-bottom: 1px solid #dedfe1;
}

@media (min-width: $layout-width-tablet) {
  .tool-list-lone {
    display: none;
  }
}
