.tool-list {
  list-style: none;
  border: 1px solid darkblue;
  margin: 0;
  margin-top: 42px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.tool-item-range {
  display: none;
}

@media (min-width: $layout-width-tablet) {
  .tool-item-range {
    display: block;
  }

  .tool-list {
    display: flex;
    flex-wrap: wrap;
  }

  .tool-list__group {
    flex-basis: 275px;
    display: flex;
  }
}

@media (min-width: $layout-width-desktop) {
  .tool-list {
    flex-direction: column;
    flex-grow: 0;
  }

  .tool-list__group {
    flex-basis: 44px;
  }
}
