.using-plan {
  border: 1px solid red;
  background-color: #f2f2f2;
}

.using-plan__toggles {
  text-align: center;
}

@media(min-width: $layout-width-tablet) {
  .using-plan {
    width: $layout-width-tablet;
  }
}