.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.contact-list__item-name {
  color: #283645;
  font-size: 18px;
  font-weight: 700;
}

.contact-list__item-info {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
