.download-application {
  background-color: #283645;
  border: 1px solid cyan;
  width: 320px;
}

.download-application__download-paragraph {
  color: #ffffff;
  font-family: "Open Sans" Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-transform: none;
}
