@import "fonts";
@import "variables";
@import "blocks/navigation";
@import "blocks/page-header";
@import "blocks/download-application";
@import "blocks/index-main";
@import "blocks/visually-hidden";
@import "blocks/advantages";
@import "blocks/advantage-list";
@import "blocks/reviews";
@import "blocks/review-list";
@import "blocks/using-plan";
@import "blocks/plan-table";
@import "blocks/contacts";
@import "blocks/contact-list";
@import "blocks/map";
@import "blocks/photo-main";
@import "blocks/photos";
@import "blocks/photo-list";
@import "blocks/site-list";
@import "blocks/editor";
@import "blocks/page-footer";
@import "blocks/form-main";
@import "blocks/form";
@import "blocks/achievement-list";
@import "blocks/application-list";
@import "blocks/download-list";
@import "blocks/extra";
@import "blocks/social-list";
@import "blocks/page-footer-wrapper";
<<<<<<< HEAD
=======
@import "blocks/after-photos";
@import "blocks/buttons-list";
@import "blocks/tool-list";
@import "blocks/tool-list-lone";
>>>>>>> 72963e8f96bd0f147a6e8a5e61bc7ae06674d520

body {
  font-family: $font-family;
  background-color: $color-main;
  width: $layout-width-mobile;
  margin: 0 auto;
}

@media (min-width: $layout-width-tablet) {
  body {
    width: $layout-width-tablet;
  }
}

@media (min-width: $layout-width-desktop) {
  body {
    width: 100%;
  }
}
